body{
  background-color: #0a192f;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* navigation */
.nav{
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  padding-top: 20px;
  font-size: 16px;
}

/* left side */
.left a{
  color: rgba(255, 255, 255, 0.653);
  padding: 5px;
  text-decoration: none;
}
.left .name{
 font-size: 17px;
}

/* right side */
.right a{
  color: rgba(255, 255, 255, 0.653);
  padding: 5px;
  text-decoration: none;
}

